@import url("../CherryFramework/style.css");
@import url(//fonts.googleapis.com/css?family=Cabin:700,400|PT+Sans:400,700);
.main-holder { overflow:hidden; }
@media (max-width: 767px) {
	body { padding:0; }
	body .header { padding:0 20px 0 20px; }
	body .footer {
		padding:20px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
	body .content-holder { padding:0 20px !important; }
	body.home .content-holder { padding:0 20px 0 20px !important; }
}
a { transition:all 0.3s ease 0s; }
.featured-thumbnail, .thumbnail, figure.frame {
	background:none;
	border-radius:0;
	padding:0;
	border:none;
	box-shadow:none;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.featured-thumbnail img, .thumbnail img, figure.frame img {
	display:inline-block;
	border:none;
	background:none;
	padding:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
figure.frame {
	margin-bottom:10px;
	margin-right:30px;
	margin-left:0;
	text-align:left;
}
figure.frame p { margin:0 !important; }
@media (max-width: 767px) {
	figure.frame { text-align:left; }
}
figure.frame.alignnone { margin:0 0 30px; }
figure.frame.alignleft { margin:2px 30px 10px 0; }
@media (max-width: 979px) {
	figure.frame.alignleft {
		margin:0 0 20px 0;
		float:none;
	}
}
#portfolio-grid {
	text-align: center;
	font: 0/0 a;
}
#portfolio-grid .portfolio_item {
	float: none;
	display: inline-block;
	width: 25%;
	font: 17px/26px 'PT Sans', sans-serif;
	margin-bottom: 40px;
	padding: 0 10px;
	vertical-align: top;
}
#portfolio-grid .portfolio_item .image-wrap {
	display: inline-block;
}
@media (max-width: 959px) {
	#portfolio-grid .portfolio_item {
		width: 50%;
	}
}
@media (max-width: 480px) {
	#portfolio-grid .portfolio_item {
		display: block;
		width: 100%;
	}
}
.portfolio_item .thumbnail__portfolio img {
	width: auto;
	height: 220px;
}
.btn, .reply a {
	border-radius:5px;
	border:none;
	color:#fff;
	text-shadow:none;
	font:bold 14px/1.3em 'Cabin', sans-serif;
	text-transform:uppercase;
	padding:none;
	letter-spacing:0;
	height:auto;
	padding:19px 35px;
	box-shadow:none;
	text-decoration:none;
	background:#5F0009;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	transition:all 0.3s ease 0s;
}
.btn:hover, .btn:active, .reply a:hover, .reply a:active {
	background:#333433;
	text-decoration:none;
	color:#fff;
	box-shadow:none;
}
.btn:focus, .reply a:focus {
	color:#fff;
	box-shadow:none;
	border:none;
	background:#333433;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	padding:7px 10px;
	margin:0 0 10px 0;
	font-size:17px;
	line-height:1.2em;
	text-transform:none;
	color:#fff;
	text-decoration:none;
	position:relative;
	border-radius:0;
	background:#837E7C;
	box-shadow:none;
	border:1px solid #dfe8e3 !important;
	transition:all 0.3s ease 0s;
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
	background:none;
	box-shadow:none;
	border-color:#fff !important;
}
.wpcf7 .wpcf7-form p { margin-bottom:10px; }
.wpcf7 .wpcf7-form p input[type="text"], .wpcf7 .wpcf7-form p input[type="email"] {
	width:100%;
	height:40px;
	padding:0 5px;
	margin:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.wpcf7 .wpcf7-form p input[type="text"]:focus, .wpcf7 .wpcf7-form p input[type="email"]:focus { border-color:#fff !important; }
.wpcf7 .wpcf7-form textarea {
	padding:10px 5px;
	margin-bottom:10px;
}
.wpcf7 .wpcf7-form textarea:focus { border-color:#fff !important; }
.wpcf7 .wpcf7-form .btn-align { text-align:right; }
.wpcf7 .wpcf7-form .btn-align input[type="submit"], .wpcf7 .wpcf7-form .btn-align input[type="reset"] {
	height:auto;
	margin-left:10px;
}
.wpcf7 .wpcf7-form .btn-align div.ajax-loader {
	float:left;
	margin-left:10px;
}
.wpcf7 .wpcf7-form .wpcf7-not-valid-tip { padding:5px 10px !important; }
@media (min-width: 768px) and (max-width: 979px) {
	.wpcf7 .wpcf7-form .wpcf7-not-valid-tip { font-size:8px !important; }
}
.wpcf7 .wpcf7-form .submit-wrap .btn { height:auto; }
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input { outline:none; }
select:-moz-placeholder, textarea:-moz-placeholder, input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder, input[type="datetime"]:-moz-placeholder, input[type="datetime-local"]:-moz-placeholder, input[type="date"]:-moz-placeholder, input[type="month"]:-moz-placeholder, input[type="time"]:-moz-placeholder, input[type="week"]:-moz-placeholder, input[type="number"]:-moz-placeholder, input[type="email"]:-moz-placeholder, input[type="url"]:-moz-placeholder, input[type="search"]:-moz-placeholder, input[type="tel"]:-moz-placeholder, input[type="color"]:-moz-placeholder, .uneditable-input:-moz-placeholder { color:#fff; }
select:-ms-input-placeholder, textarea:-ms-input-placeholder, input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, input[type="datetime"]:-ms-input-placeholder, input[type="datetime-local"]:-ms-input-placeholder, input[type="date"]:-ms-input-placeholder, input[type="month"]:-ms-input-placeholder, input[type="time"]:-ms-input-placeholder, input[type="week"]:-ms-input-placeholder, input[type="number"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, input[type="url"]:-ms-input-placeholder, input[type="search"]:-ms-input-placeholder, input[type="tel"]:-ms-input-placeholder, input[type="color"]:-ms-input-placeholder, .uneditable-input:-ms-input-placeholder { color:#fff; }
select::-webkit-input-placeholder, textarea::-webkit-input-placeholder, input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="datetime"]::-webkit-input-placeholder, input[type="datetime-local"]::-webkit-input-placeholder, input[type="date"]::-webkit-input-placeholder, input[type="month"]::-webkit-input-placeholder, input[type="time"]::-webkit-input-placeholder, input[type="week"]::-webkit-input-placeholder, input[type="number"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="url"]::-webkit-input-placeholder, input[type="search"]::-webkit-input-placeholder, input[type="tel"]::-webkit-input-placeholder, input[type="color"]::-webkit-input-placeholder, .uneditable-input::-webkit-input-placeholder { color:#fff; }
select::-moz-placeholder, textarea::-moz-placeholder, input[type="text"]::-moz-placeholder, input[type="password"]::-moz-placeholder, input[type="datetime"]::-moz-placeholder, input[type="datetime-local"]::-moz-placeholder, input[type="date"]::-moz-placeholder, input[type="month"]::-moz-placeholder, input[type="time"]::-moz-placeholder, input[type="week"]::-moz-placeholder, input[type="number"]::-moz-placeholder, input[type="email"]::-moz-placeholder, input[type="url"]::-moz-placeholder, input[type="search"]::-moz-placeholder, input[type="tel"]::-moz-placeholder, input[type="color"]::-moz-placeholder, .uneditable-input::-moz-placeholder {
	color:#fff;
	opacity:1;
}
header.header {
	border:none;
	padding:0;
	background: #837E7C;
}
.nav__primary {
	position:relative;
	float:none;
	padding:0;
	margin:48px 0 0 0;
	z-index:100;
	background:none;
}
@media (max-width: 767px) {
	.nav__primary { margin:20px 0; padding: 0 20px; }
}
.nav__primary .select-menu { height:35px; }
.nav__primary .sf-menu {
	float:right;
	display:block;
	position:relative;
	padding:0;
	z-index:1;
}
@media (max-width: 767px) {
	.nav__primary .sf-menu { display:none !important; }
}
.nav__primary .sf-menu >li {
	background:none;
	float:left;
	text-align:left;
	display:block;
	position:relative;
	padding:0;
	margin:0 0 0 34px;
	border:none;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	transition:all 0.3s ease 0s;
	z-index:10;
}
@media (min-width: 768px) and (max-width: 979px) {
	.nav__primary .sf-menu >li { margin-left:8px; }
}
.nav__primary .sf-menu >li:first-child { margin:0; }
.nav__primary .sf-menu >li:hover ul { top:100%; }
.nav__primary .sf-menu >li:hover li ul { top:-999em; }
.nav__primary .sf-menu >li >a {
	border:none;
	padding:0;
	display:inline-block;
	text-transform:uppercase;
	border-radius:0;
	position:relative;
	letter-spacing:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	transition:all 0.3s ease 0s;
	background:none;
	font-weight: normal;
}
@media (min-width: 768px) and (max-width: 979px) {
	.nav__primary .sf-menu >li >a { font-size:15px; }
}
.nav__primary .sf-menu >li >a:hover {
	text-decoration:none;
	color:#9F000F;
	background:none;
}
.nav__primary .sf-menu >li >a:hover .sf-sub-indicator { background-position:-10px -100px; }
.nav__primary .sf-menu >li >a >.sf-sub-indicator {
	position:absolute;
	display:inline-block;
	top:23px;
	left:50%;
	margin-left:-5px;
	background:url("images/arrows-ffffff.png") no-repeat scroll 0 -100px transparent;
}
.nav__primary .sf-menu >li.current-menu-item >a {
	text-decoration:none;
	color:#9F000F;
	background:none;
}
.nav__primary .sf-menu >li.current-menu-item >a .sf-sub-indicator { background-position:-10px -100px; }
.nav__primary .sf-menu >li.sfHover >a {
	text-decoration:none;
	color:#9F000F;
	background:none;
}
.nav__primary .sf-menu >li.sfHover >a .sf-sub-indicator { background-position:-10px -100px; }
.nav__primary .sf-menu >li.sfHover ul { top:100%; }
.nav__primary .sf-menu >li.sfHover li ul { top:-999em; }
.nav__primary .sf-menu >li >.sub-menu {
	background:#5F0009;
	top:-999em;
	left:50%;
	width:180px;
	padding:40px 0;
	margin:29px 0 0 -90px;
	border:none;
	border-radius:0;
	z-index:10000;
	border-top:4px solid #fff;
}
.nav__primary .sf-menu >li >.sub-menu:after {
	width:0px;
	height:0px;
	border-style:solid;
	border-width:12px 11.5px 0 11.5px;
	border-color:#fff transparent transparent transparent;
	content:'';
	position:absolute;
	top:0px;
	left:50%;
	margin-left:-12px;
}
.nav__primary .sf-menu >li >.sub-menu >.menu-item {
	background:none;
	text-align:center;
	border:none;
	padding:0;
	margin:0;
}
.nav__primary .sf-menu >li >.sub-menu >.menu-item:first-child { border:none; }
.nav__primary .sf-menu >li >.sub-menu >.menu-item:hover li ul { top:-999em; }
.nav__primary .sf-menu >li >.sub-menu >.menu-item a {
	margin:0;
	background:none;
	border:none;
	color:#fff;
	text-transform:uppercase;
	display:inline-block;
	letter-spacing:0;
	border-radius:0;
	padding:0;
	letter-spacing:0;
	font: 17px/25px 'Cabin', sans-serif;
	transition:all 0.3s ease 0s;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.nav__primary .sf-menu >li >.sub-menu >.menu-item a:hover {
	color:#333433;
	text-shadow:none;
	background:none;
}
.nav__primary .sf-menu >li >.sub-menu >.menu-item a >.sf-sub-indicator {
	top:8px;
	left:-20px;
	right:auto;
	background:url("images/arrows-ffffff.png") no-repeat scroll 0 0 transparent;
}
.nav__primary .sf-menu >li >.sub-menu >.menu-item.sfHover li ul { top:-999em; }
.nav__primary .sf-menu >li >.sub-menu >.menu-item.sfHover >a {
	color:#333433;
	text-shadow:none;
	background:none;
}
.nav__primary .sf-menu >li >.sub-menu >.menu-item.sfHover >a .sf-sub-indicator { background-position:-10px 0; }
.nav__primary .sf-menu >li >.sub-menu >.menu-item.current-menu-item a {
	color:#333433;
	text-shadow:none;
	background:none;
}
.nav__primary .sf-menu >li >.sub-menu >.menu-item >.sub-menu {
	background:#5F0009;
	padding:40px 0;
	margin:-44px 1px 0 0;
	top:0;
	left:auto;
	right:100%;
	border:none;
	border-radius:0;
	width:100%;
	border-top:4px solid #fff;
}
.nav__primary .sf-menu >li >.sub-menu >.menu-item >.sub-menu:after {
	width:0px;
	height:0px;
	border-style:solid;
	border-width:12px 11.5px 0 11.5px;
	border-color:#fff transparent transparent transparent;
	content:'';
	position:absolute;
	top:0px;
	left:50%;
	margin-left:-12px;
}
.nav__primary .sf-menu >li >.sub-menu >.menu-item >.sub-menu >.menu-item {
	background:none;
	text-align:center;
	border:none;
	padding:0;
	margin:0;
}
.nav__primary .sf-menu >li >.sub-menu >.menu-item >.sub-menu >.menu-item:first-child { border:none; }
.nav__primary .sf-menu >li >.sub-menu >.menu-item >.sub-menu >.menu-item:hover ul {
	top:0;
	left:10em;
}
.nav__primary .sf-menu >li >.sub-menu >.menu-item >.sub-menu >.menu-item a {
	margin:0;
	padding:0;
	color:#fff;
	display:inline-block;
	background:none;
}
.nav__primary .sf-menu >li >.sub-menu >.menu-item >.sub-menu >.menu-item a:hover {
	color:#333433;
	text-shadow:none;
	background:none;
}
.nav__primary .sf-menu >li >.sub-menu >.menu-item >.sub-menu >.menu-item.current-menu-item a {
	color:#333433;
	text-shadow:none;
	background:none;
}
.nav__primary .sf-menu >li >.sub-menu >.menu-item >.sub-menu >.menu-item.sfHover ul {
	top:0;
	left:10em;
}
.logo-wrap {
	background:#9F000F;
	min-height:124px;
	z-index:20;
	position:relative;
}
.logo-wrap >div {
	position:relative;
	z-index:10;
}
.logo-wrap:before {
	content:"";
	display:block;
	height:100%;
	left:-100%;
	position:absolute;
	top:0;
	width:101%;
	background:#9F000F;
	z-index:1;
}
@media (max-width: 767px) {
	.logo-wrap:after {
		content:"";
		display:block;
		height:100%;
		right:-100%;
		position:absolute;
		top:0;
		width:101%;
		background:#9F000F;
		z-index:1;
	}
}
.logo { padding-top:40px; }
@media (min-width: 768px) and (max-width: 979px) {
	.logo { width:90%; }
}
@media (max-width: 767px) {
	.logo { text-align:center; }
}
.logo.pull-left { float:none; }
.logo .logo_h__txt {
	text-transform:none;
	margin-top:-15px;
}
@media (min-width: 768px) and (max-width: 979px) {
	.logo .logo_h__txt { margin-top:-20px; }
}
@media (min-width: 768px) and (max-width: 979px) {
	.logo .logo_h__txt a {
		font-size:40px;
		line-height:50px;
	}
}
.logo .logo_h__txt a:hover, .logo .logo_h__txt a:active, .logo .logo_h__txt a:focus {
	color:#fff;
	text-decoration:none;
}
.slider-wrap {
	width:100%;
	max-width:1920px;
	position:relative;
	background:#fff;
}
@media (min-width: 979px) and (max-width: 1200px) {
	.slider-wrap {
		left:50%;
		width:1200px;
		margin-left:-600px;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.slider-wrap {
		width:979px;
		left:50%;
		margin-left:-489px;
	}
}
@media (max-width: 767px) {
	.slider-wrap {
		width:100%;
		margin-left:0;
		left:0;
		padding:20px 0;
	}
}
.slider-wrap >div {
	position:relative;
	z-index:10;
}
.slider-wrap .row { margin:0; }
.slider-wrap:before {
	content:"";
	display:block;
	height:100%;
	left:-100%;
	position:absolute;
	top:0;
	width:101%;
	background:#fff;
	z-index:1;
}
.slider-wrap:after {
	content:"";
	display:block;
	height:100%;
	right:-100%;
	position:absolute;
	top:0;
	width:101%;
	background:#fff;
	z-index:1;
}
.slider .container { width:100%; }
.camera { margin-bottom:0 !important; }
.camera .camera_pag {
	position:relative;
	bottom:100%;
}
.camera .camera_pag .camera_pag_ul { text-align:center; }
.camera .camera_pag .camera_pag_ul li {
	background:#fff;
	width:15px;
	height:15px;
	border-radius:50%;
	margin-left:4px;
	margin-right:0;
}
.camera .camera_pag .camera_pag_ul li:first-child { margin-left:0; }
.camera .camera_pag .camera_pag_ul li span {
	width:15px;
	height:15px;
	border-radius:50%;
	left:0;
	top:0;
	background:none;
}
.camera .camera_pag .camera_pag_ul li.cameracurrent, .camera .camera_pag .camera_pag_ul li:hover { background:none; }
.camera .camera_pag .camera_pag_ul li.cameracurrent span, .camera .camera_pag .camera_pag_ul li:hover span { background:#9F000F; }
.camera .camera_pag .camera_pag_ul li .camera_thumb { top:30px !important; }
.camera .camera_pag .camera_pag_ul li .thumb_arrow { display:none !important; }
.camera .camera_thumbs {
	position:absolute;
	top:20px;
	width:100%;
}
.camera .camera_thumbs .camera_thumbs_cont { background:none; }
@media (max-width: 1200px) {
	.camera .camera_thumbs { display:none !important; }
}
.camera_caption {
	position:absolute;
	bottom:80px !important;
	width:1170px;
	left:50%;
	margin-left:-570px;
}
@media (min-width: 979px) and (max-width: 1200px) {
	.camera_caption {
		width:940px;
		margin-left:-460px;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.camera_caption {
		width:724px;
		margin-left:-353px;
	}
}
@media (max-width: 767px) {
	.camera_caption {
		width:100%;
		margin-left:0;
		left:0;
		bottom:0 !important;
	}
}
.content-holder { background: #fff; color: #333433; }
.content-holder h1, h2, h3, h4, h5 { color: #333433; }
.content-holder a { color: #5F0009; }
.content-holder a.btn { color: #fff; }
.content-holder a:hover { color: #333433; }

.title-wrap {
	background:#fff;
	position:relative;
}
.title-wrap >section {
	position:relative;
	z-index:10;
}
.title-wrap >section:after {
	content:'';
	display:block;
	width:0;
	height:0;
	clear:both;
}
.title-wrap:before {
	content:"";
	display:block;
	height:100%;
	left:-100%;
	position:absolute;
	top:0;
	width:101%;
	background:#fff;
	z-index:-1;
}
.title-wrap:after {
	content:"";
	display:block;
	height:100%;
	right:-100%;
	position:absolute;
	top:0;
	width:101%;
	background:#fff;
	z-index:-1;
}
.title-section {
	margin:0;
	padding: 30px 0;
	text-align:left;
	font: 0/0 a;
}
@media (max-width: 767px) {
	.title-section { text-align:center; }
}
.title-section .title-header {
	letter-spacing:-2px;
	margin:0;
	color:#5F0009;
	text-transform:none;
	font:bold 45px/1.3em 'Cabin', sans-serif;
	width:50%;
	-moz-hyphens:none;
	word-wrap:normal;
	display: inline-block;
	vertical-align: middle;
}
@media (max-width: 767px) {
	.title-section .title-header {
		float:none;
		width:100%;
	}
}
@media (max-width: 480px) {
	.title-section .title-header { font-size:40px; }
}
.title-section .title-header small {
	display:block;
	line-height:1.4em;
}
.title-section .breadcrumb {
	width:50%;
	background:none;
	padding: 0;
	margin:0;
	text-transform:none;
	text-shadow:none;
	letter-spacing:0;
	border:none;
	box-shadow:none;
	text-align:right;
	border-radius:0;
	font:bold 22px/1.3em 'Cabin', sans-serif;
	display: inline-block;
	vertical-align: middle;
}
@media (max-width: 767px) {
	.title-section .breadcrumb {
		float:none;
		width:100%;
		text-align:center;
	}
}
.title-section .breadcrumb >li {
	text-shadow:none;
	display:inline-block;
	line-height:1.2em;
}
@media (max-width: 480px) {
	.title-section .breadcrumb >li { display:block; }
}
.title-section .breadcrumb >li.active { color:#cecece; }
.title-section .breadcrumb a {
	color:#5F0009;
	text-shadow:none;
}
.title-section .breadcrumb .divider { padding:0 17px; }
.title-section .breadcrumb .divider:after {
	color:#5F0009;
	content:"/";
	font:bold 22px/1.3em 'Cabin', sans-serif;
}
@media (max-width: 480px) {
	.title-section .breadcrumb .divider { display:none; }
}
article {
	background:none;
	border:none;
	border-radius:0;
	padding:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
article .thumbnail { margin:0 30px 20px 0; }
@media (max-width: 480px) {
	article .thumbnail {
		width:auto !important;
		display:inline-block;
		float:none;
		margin:0 0 15px 0;
	}
	article .thumbnail img { width:100%; }
}
article .thumbnail.large {
	margin:0 0 30px 0;
	border-radius:0;
}
@media (min-width: 768px) and (max-width: 979px) {
	article .thumbnail.large { float:none !important; }
}
article .post-header .post-title {
	text-align:left;
	font:bold 62px/1.3em 'Cabin', sans-serif;
	margin-bottom:42px;
	letter-spacing:0;
	text-transform:none;
	color:#fff;
}
@media (min-width: 768px) and (max-width: 979px) {
	article .post-header .post-title { font-size:40px; }
}
article .post-header .post-title a { color:#333433; }
article .post-header .post-title a:hover, article .post-header .post-title a:active, article .post-header .post-title a:focus {
	color:#333433;
	text-decoration:none;
}
article .post_content {
	background:none;
	border-radius:0;
	padding:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
article .post_meta {
	padding:8px 0;
	border:none;
	position:relative;
	display:block;
	margin:20px 0 20px;
	overflow:visible;
	background:none;
	border-top:1px solid #cadfd3;
	border-bottom:1px solid #cadfd3;
	border-radius:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
article .post_meta .post_meta_unite {
	font:15px/1.2em 'PT Sans', sans-serif;
	border-color:#cadfd3;
	text-transform:none;
}
article .post_meta i {
	margin-right:0;
	color:#ffffff;
	font-size:15px;
}
article .post_meta .post_date { color:#fff; }
article .post_meta .post_author a { color:#fff; }
article .post_meta .post_category a, article .post_meta .post_tag a, article .post_meta .post_tag { color:#99afa3; }
article .post_meta .post_comment a { color:#99afa3; }
article .post_meta .user_like, article .post_meta .post_views { color:#99afa3; }
article .post_meta .post_permalink { float:none; }
article .post_meta .post_permalink a { color:#99afa3; }
article div.jp-playlist li a:hover, article div.jp-playlist li.jp-playlist-current a { color:#b8b8b8; }
article .quote-wrap blockquote {
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:15px;
	line-height:1.2em;
	font-style:normal;
	color:#afafaf;
	font-weight:bold;
}
article .gallery-post { padding-bottom:40px; }
article.testimonial {
	background:none;
	border-color:#cadfd3;
}
article.testimonial .user, article.testimonial .info { color:#222; }
.single #content article { margin-bottom:0; }
@media (min-width: 768px) and (max-width: 1000px) {
	.single #content article .thumbnail { float:left; }
	.single #content article .thumbnail img { margin:0; }
}
@media (max-width: 480px) {
	.single #content article .thumbnail { width:100%; }
	.single #content article .thumbnail img { width:100%; }
}
.single #content .share-buttons {
	margin:10px 0 30px;
	background:none;
	padding:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.single #content .share-buttons .pinterest img { vertical-align:top; }
.single #content .post-author {
	padding:30px 40px;
	border:none;
	background:#ffffff;
	border-radius:0;
}
.single #content .post-author .post-author_h {
	font:bold 32px/1.3em 'Cabin', sans-serif;
	margin:0 0 20px 0;
	letter-spacing:0;
	text-transform:none;
	color:#5F0009;
}
.single #content .post-author .post-author_h a {
	color:#5F0009;
	text-transform:none;
}
.single #content .post-author .post-author_gravatar {
	display:block;
	border:7px solid #fff;
	border-radius:50%;
	box-shadow:0 1px 1px rgba(0,0,0,0.2);
	overflow:hidden;
	margin:4px 20px 0 0;
}
@media (max-width: 350px) {
	.single #content .post-author .post-author_gravatar { float:none; }
}
.single #content .post-author .post-author_gravatar img {
	width:92px;
	height:92px;
	border-radius:0;
	padding:0;
	border:none;
	background:none;
}
.single #content .post-author .post-author_desc {
	padding-left:130px;
	text-transform:none;
	color:#cecece;
}
@media (max-width: 480px) {
	.single #content .post-author .post-author_desc { padding-left:0; }
}
.single #content .post-author .post-author_link {
	margin-top:20px;
	text-transform:none;
	color:#5F0009;
	font:17px/1.3em 'PT Sans', sans-serif;
}
.single #content .post-author .post-author_link p { margin:0; }
.single #content .post-author .post-author_link a {
	color:#5F0009;
	font-size:17px;
	text-transform:none;
}
.filter-wrapper { margin:25px 0 45px; }
@media (max-width: 767px) {
	.filter-wrapper { margin:20px 0; }
}
.filter-wrapper strong {
	color:#fff;
	padding:0;
	font:bold 32px/1.2em 'Cabin', sans-serif;
	margin-right:21px;
	margin-top:0px;
	text-transform:none;
	letter-spacing:0;
	float:none;
	display:inline-block;
	vertical-align:top;
}
@media (max-width: 979px) {
	.filter-wrapper strong {
		display:block;
		float:none;
		margin-bottom:20px;
	}
}
.filter-wrapper .filter {
	margin:0;
	display:inline-block;
	float:none;
	position:relative;
	top:0;
}
@media (max-width: 767px) {
	.filter-wrapper .filter {
		float:none;
		display:block;
	}
}
.filter-wrapper .filter li { margin:0 0 0 18px; }
.filter-wrapper .filter li:first-child { margin:0; }
@media (min-width: 768px) and (max-width: 979px) {
	.filter-wrapper .filter li { margin:0 10px 10px 0 !important; }
}
@media (max-width: 767px) {
	.filter-wrapper .filter li {
		display:block;
		float:none;
		margin:0 0 5px 0 !important;
	}
}
.filter-wrapper .filter li a {
	color:#fff;
	font:bold 32px/1.2em 'Cabin', sans-serif;
	padding:0;
	margin:0;
	background:none;
	border-radius:0;
	text-transform:none;
	letter-spacing:0;
}
@media (max-width: 767px) {
	.filter-wrapper .filter li a { display:inline-block; }
}
.filter-wrapper .filter li a:active, .filter-wrapper .filter li a:hover, .filter-wrapper .filter li a:focus {
	text-decoration:none;
	color:#98a89f;
	background:none;
}
.filter-wrapper .filter .active a {
	text-decoration:none;
	color:#98a89f;
	background:none;
}
@media (max-width: 979px) {
	.filter-wrapper .pull-right { float:none; }
}
.filterable-portfolio li .thumbnail { margin:0 0 15px 0; }
.filterable-portfolio li .caption h3 {
	text-shadow:none;
	margin:0;
	font:17px/26px 'PT Sans', sans-serif;
	letter-spacing:0;
}
.filterable-portfolio li .caption h3 a {
	color:#333433;
	text-transform:none;
	text-decoration:none;
}
.filterable-portfolio li .caption h3 a:hover, .filterable-portfolio li .caption h3 a:active { text-decoration:underline; }
.filterable-portfolio li .caption .excerpt {
	margin-bottom:20px;
	color:#fff;
	letter-spacing:0;
	line-height:26px;
}
.filterable-portfolio li .caption p { margin:0; }
.type-portfolio #respond { padding-bottom:40px; }
div.pagination { padding:60px 0 30px; }
div.pagination ul {
	box-shadow:none;
	border-radius:0;
}
div.pagination ul li { border-radius:0; }
div.pagination ul li a {
	margin:0 0 0 10px;
	border:none;
	background:none;
	border-radius:0;
	padding:4px 12px;
	font:bold 17px/26px 'Cabin', sans-serif;
	color:#9F000F;
}
div.pagination ul li a:focus { background:none; }
div.pagination ul li:first-child { margin:0; }
div.pagination ul li.active a, div.pagination ul li:hover a, div.pagination ul li:active a {
	color:#fff;
	background:none;
}
ul.pager {
	padding:10px 0;
	border-color:#cadfd3;
}
ul.pager li a {
	border:none;
	background:none;
	padding:0;
	font:bold 22px/1.2em 'Cabin', sans-serif;
	color:#9F000F;
}
ul.pager li a:hover, ul.pager li a:active {
	background:none;
	color:#fff;
}
ul.pager li a:focus { background:none; }
.portfolio-meta { border-color:#cadfd3; display: none; }
.portfolio-meta i { color:#fff; }
.portfolio-meta-list { border-color:#cadfd3; }
.portfolio_category-tenants .nocomments { display: none; }
.related-posts, .comment-holder, #respond { margin-top:70px; display: none; }
.related-posts h3, .comment-holder h3, #respond h3 {
	font:bold 62px/1.2em 'Cabin', sans-serif;
	margin:0 0 35px;
	text-align:left;
	letter-spacing:0;
}
.related-posts .related-posts_item { text-align:center; }
.related-posts a {
	font:17px/26px 'PT Sans', sans-serif;
	color:#fff;
	display:inline;
	letter-spacing:0;
	text-transform:none;
}
.related-posts a:hover { text-decoration:underline; }
.related-posts .thumbnail {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	border:7px solid #fff;
	border-radius:50%;
	box-shadow:0 1px 1px rgba(0,0,0,0.2);
	overflow:hidden;
}
.related-posts .thumbnail a {
	display:inline-block;
	width:100%;
}
.related-posts .thumbnail img {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.comment-holder .comment-list .comment .comment-body {
	padding:30px 40px;
	background:#fff;
	border-radius:0;
	border:none;
}
.comment-holder .comment-list .comment .comment-body .comment-author {
	margin:5px 20px 0 0;
	text-align:center;
	border:none;
}
@media (max-width: 350px) {
	.comment-holder .comment-list .comment .comment-body .comment-author {
		float:none;
		margin-bottom:30px;
	}
}
.comment-holder .comment-list .comment .comment-body .comment-author img {
	width:92px;
	height:92px;
	padding:0;
	border:none;
	background:none;
	border:7px solid #fff;
	border-radius:50%;
	box-shadow:0 1px 1px rgba(0,0,0,0.2);
	overflow:hidden;
}
.comment-holder .comment-list .comment .comment-body .comment-author .author {
	width:auto;
	text-align:center;
	font:17px/1.2em 'PT Sans', sans-serif;
	color:#5F0009;
	text-transform:none;
	margin-top:10px;
}
.comment-holder .comment-list .comment .comment-body .extra-wrap {
	padding:0;
	margin:0;
	background:none;
	color:#cecece;
	text-transform:none;
}
@media (max-width: 480px) {
	.comment-holder .comment-list .comment .comment-body .extra-wrap { overflow:visible; }
}
.comment-holder .comment-list .comment .comment-body .comment-meta {
	margin:3px 0 0 0;
	font:17px/1.2em 'PT Sans', sans-serif;
	color:#cecece;
	text-transform:none;
}
.comment-holder .comment-list .comment .comment-body .reply a {
	padding:0;
	background:none;
	font:17px/1.2em 'PT Sans', sans-serif;
	color:#a4c9b5;
	text-transform:none;
}
.comment-holder .comment-list .comment .comment-body .reply a:hover, .comment-holder .comment-list .comment .comment-body .reply a:active { color:#333433; }
.comment-holder #respond #commentform { margin-top:0; }
#respond #commentform { margin:15px 0 0; }
#respond #commentform textarea {
	width:100%;
	min-width:auto;
	max-width:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	height:300px;
	min-height:auto;
	max-height:auto;
	min-width:auto;
	padding:12px 10px 10px;
}
#respond #commentform p input {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	max-width:auto;
	min-width:auto;
	width:100%;
	padding:0 10px;
	height:35px;
	margin-bottom:2px;
}
#respond #commentform p input:focus { box-shadow:none; }
#respond #commentform p input.btn {
	margin:0;
	width:auto;
	height:55px;
	padding:19px 35px;
}
#respond #commentform p.right-align {
	text-align:right;
	margin:0;
}
.sidebar .widget { margin:10px 0 60px; }
.sidebar .widget >h3 {
	margin:0 0 30px 0;
	font:bold 62px/1.3em 'Cabin', sans-serif;
	letter-spacing:0;
	text-transform:none;
	color: #333433;
}
@media (min-width: 768px) and (max-width: 979px) {
	.sidebar .widget >h3 { font-size:40px; }
}
[id*="categories"] ul, [id*="archives"] ul, [id*="nav_menu"] ul, .list.custom-list ul {
	margin:0;
	list-style-type:none;
}
@media (max-width: 767px) {
	[id*="categories"] ul, [id*="archives"] ul, [id*="nav_menu"] ul, .list.custom-list ul { margin-top:30px; }
}
[id*="categories"] ul li, [id*="archives"] ul li, [id*="nav_menu"] ul li, .list.custom-list ul li {
	background:url(images/cat.png) no-repeat 0 16px;
	margin:0;
	padding:7px 0 8px 22px;
}
[id*="categories"] ul li:before, [id*="archives"] ul li:before, [id*="nav_menu"] ul li:before, .list.custom-list ul li:before { display:none; }
[id*="categories"] ul li a, [id*="archives"] ul li a, [id*="nav_menu"] ul li a, .list.custom-list ul li a {
	font:17px/1.3em 'PT Sans', sans-serif;
	color:#fff;
	text-transform:none;
	display:inline;
	position:relative;
}
[id*="categories"] ul li a:hover, [id*="categories"] ul li a:active, [id*="archives"] ul li a:hover, [id*="archives"] ul li a:active, [id*="nav_menu"] ul li a:hover, [id*="nav_menu"] ul li a:active, .list.custom-list ul li a:hover, .list.custom-list ul li a:active {
	color:#333433;
	text-decoration:none;
	background:none;
}
[id*="my_poststypewidget"] .post-list { margin:20px 0 0 0; }
[id*="my_poststypewidget"] .post-list li { padding:30px 0 0 0; }
[id*="my_poststypewidget"] .post-list li:first-child { padding:0; }
[id*="my_poststypewidget"] .post-list li .thumbnail { margin:8px 20px 10px 0; }
@media (min-width: 768px) and (max-width: 1200px) {
	[id*="my_poststypewidget"] .post-list li .thumbnail {
		float:none;
		margin:0 0 20px 0;
		display:block;
	}
	[id*="my_poststypewidget"] .post-list li .thumbnail a { display:inline-block; }
}
@media (max-width: 480px) {
	[id*="my_poststypewidget"] .post-list li .thumbnail {
		float:none;
		margin:0 0 20px 0;
		display:block;
	}
}
[id*="my_poststypewidget"] .post-list li .post-list_h {
	font:17px/26px 'PT Sans', sans-serif;
	text-transform:none;
	letter-spacing:0;
	margin:0;
	display:block;
}
[id*="my_poststypewidget"] .post-list li .post-list_h a { color:#333433; }
[id*="my_poststypewidget"] .post-list li time {
	display:inline-block;
	padding:0 0 5px;
	color:#333433;
	font:17px/26px 'PT Sans', sans-serif;
}
[id*="my_poststypewidget"] .post-list li .excerpt {
	overflow:hidden;
	margin:0 0 25px;
	color:#333433;
	line-height:26px;
}
[id*="my_poststypewidget"] .post-list li .btn { margin-left:0; }
@media (max-width: 1200px) {
	[id*="my_poststypewidget"] .post-list li .btn { margin-left:0; }
}
#wp-calendar caption, #wp-calendar thead tr th {
	color:#fff;
	font-family:'PT Sans', sans-serif;
}
.search-form .search-form_is {
	margin:0px 0 0 10px;
	padding-top:1px;
	padding-bottom:1px;
	height:42px;
}
@media (min-width: 768px) and (max-width: 1200px) {
	.search-form .search-form_is {
		display:block;
		margin:0;
	}
}
@media (max-width: 400px) {
	.search-form .search-form_is {
		display:block;
		margin:0;
	}
}
.footer-widgets { text-align:center; }
.footer-widgets .social { text-align:center; }
.footer-widgets .social li {
	display:inline-block;
	float:none;
}
.footer-widgets >div { margin-bottom:80px; }
.footer-widgets .textwidget span {
	display:inline-block;
	font:bold 20px/1.2em 'Cabin', sans-serif;
	color:#fff;
}
@media (max-width: 767px) {
	.footer-widgets .textwidget span { display:block; }
}
.footer-widgets .textwidget span a { color:#fff; }
.footer-widgets .textwidget span i {
	color:#fff;
	margin-right:10px;
}
.footer-widgets .textwidget span.phone { margin-right:60px; }
@media (max-width: 767px) {
	.footer-widgets .textwidget span.phone { margin-right:0; }
}
div.type-page h1 { letter-spacing:-2px; }
div.type-page .extra-wrap {
	background:#fff;
	position:relative;
	padding:45px 0 25px;
	overflow:visible;
	margin-bottom:-50px;
}
div.type-page .extra-wrap:before {
	content:"";
	display:block;
	height:100%;
	left:-100%;
	position:absolute;
	top:0;
	width:101%;
	background:#fff;
}
div.type-page .extra-wrap:after {
	content:"";
	display:block;
	height:100%;
	right:-100%;
	position:absolute;
	top:0;
	width:101%;
	background:#fff;
}
div.type-page .extra-wrap h1, div.type-page .extra-wrap h2, div.type-page .extra-wrap h3, div.type-page .extra-wrap h4, div.type-page .extra-wrap h5, div.type-page .extra-wrap h6 { color:#5F0009; }
div.type-page .extra-wrap p { color:#cecece; }
.about-ico { margin:30px 0 65px; display: none; }
.hero-unit {
	background:none;
	text-align:center;
	padding:0 50px;
	margin-bottom:60px;
}
@media (max-width: 480px) {
	.hero-unit { padding:0; }
}
.hero-unit h1 {
	font-size:62px;
	margin-bottom:80px;
}
.hero-unit p {
	line-height:26px;
	padding:0 50px;
	font-size:17px;
}
@media (max-width: 480px) {
	.hero-unit p { padding:0; }
}
.well {
	background:#9F000F;
	position:relative;
	border:none;
	margin:0;
	border-radius:0;
	padding:45px 0 48px;
}
.well >div {
	position:relative;
	z-index:10;
}
.well:before {
	content:"";
	display:block;
	height:100%;
	left:-100%;
	position:absolute;
	top:0;
	width:101%;
	background:#9F000F;
	z-index:1;
}
.well:after {
	content:"";
	display:block;
	height:100%;
	right:-100%;
	position:absolute;
	top:0;
	width:101%;
	background:#9F000F;
	z-index:1;
}
.home .well { margin-bottom: 0; }
.home .content-holder { padding-bottom: 0; }
.posts-grid li .thumbnail {
	float:none;
	display:inline-block;
	border:7px solid #fff;
	border-radius:50%;
	box-shadow:0 1px 1px rgba(0,0,0,0.2);
	overflow:hidden;
}
.posts-grid li .thumbnail .zoom-icon { border-radius:50%; }
.posts-grid.our-team { padding:65px 0 0; }
.posts-grid.our-team li {
	text-align:center;
	margin-bottom:0;
}
@media (max-width: 767px) {
	.posts-grid.our-team li { margin-bottom:30px; }
}
.posts-grid.our-team li .thumbnail { margin-bottom:18px; }
@media (min-width: 768px) and (max-width: 1200px) {
	.posts-grid.our-team li .thumbnail { width:80%; }
}
@media (max-width: 767px) {
	.posts-grid.our-team li .thumbnail { margin:0 20px; }
}
.posts-grid.our-team li h5 {
	font:bold 22px/1.3em 'Cabin', sans-serif;
	margin-bottom:20px;
}
.posts-grid.our-team li h5 a { color:#fff; }
.posts-grid.our-team li .excerpt { line-height:34px; }
.posts-grid.houses {
	position:relative;
	overflow:hidden;
}
.posts-grid.houses:before {
	content:'';
	width:100%;
	height:20px;
	background:#837E7C;
	position:absolute;
	top:0;
	left:0;
	z-index:100;
}
@media (max-width: 767px) {
	.posts-grid.houses:before { display:none; }
}
.posts-grid.houses li {
	text-align:center;
	padding:87px 0 0;
	background:#9F000F;
	width:25%;
	margin:0;
	border-left:1px solid #AC0010;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	transition:all 0.3s ease 0s;
}
@media (max-width: 767px) {
	.posts-grid.houses li {
		width:50%;
		float:left;
	}
}
@media (max-width: 480px) {
	.posts-grid.houses li {
		width:100%;
		float:none;
		border:none;
	}
}
.posts-grid.houses li:before {
	content:'';
	width:100%;
	height:20px;
	background:#fff;
	position:absolute;
	top:-20px;
	left:0;
	z-index:100;
	opacity:0;
	transition:all 0.3s ease 0s;
}
.posts-grid.houses li:after {
	content:'';
	width:0px;
	height:0px;
	border-style:solid;
	border-width:12px 11.5px 0 11.5px;
	border-color:#ffffff transparent transparent transparent;
	position:absolute;
	top:-20px;
	left:50%;
	margin-left:-11px;
	transition:all 0.3s ease 0s;
}
.posts-grid.houses li:first-child { border-left:none; }
@media (max-width: 767px) {
	.posts-grid.houses li:nth-child(2n+1) { border-left:none; }
}
.posts-grid.houses li:hover { background:#5F0009; }
.posts-grid.houses li:hover:before {
	opacity:1;
	top:0;
}
.posts-grid.houses li:hover:after { top:20px; }
.posts-grid.houses li:hover .desc:before {
	top:0;
	background:#5F0009;
}
.posts-grid.houses li .desc {
	background:#fff;
	position:relative;
	padding:40px 0 45px;
	z-index:100;
	overflow:visible;
}
.posts-grid.houses li .desc:before {
	content:'';
	width:100%;
	height:20px;
	background:#9F000F;
	position:absolute;
	top:-20px;
	left:0;
	transition:all 0.3s ease 0s;
}
.posts-grid.houses li .desc:after {
	content:'';
	width:1px;
	height:100%;
	background:#fafafa;
	position:absolute;
	top:0;
	left:-1px;
}
.posts-grid.houses li .desc .excerpt {
	color:#434140;
	margin:0 0 34px;
}
.posts-grid.houses li .desc .btn {
	background:#5F0009;
	font-weight:bold;
	padding:9px 37px;
}
.posts-grid.houses li .desc .btn:hover, .posts-grid.houses li .desc .btn:active { background:#333433; }
.posts-grid.houses li .thumbnail { margin:0 0 43px; }
@media (min-width: 768px) and (max-width: 979px) {
	.posts-grid.houses li .thumbnail { width:80%; }
}
.posts-grid.houses li .price {
	font:37px/1.2em 'PT Sans', sans-serif;
	color:#fff;
	letter-spacing:-1px;
	margin:0 0 30px;
}
@media (min-width: 768px) and (max-width: 979px) {
	.posts-grid.houses li .price { font-size:20px; }
}
.posts-grid.houses li h5 {
	font:bold 22px/1.2em 'Cabin', sans-serif;
	margin:0 0 50px;
	padding: 0 10px;
}
.posts-grid.houses li h5 a { color:#fff; }
.posts-grid.best-offers:first-of-type {
	border-bottom:1px solid #cadfd3;
	padding-top:20px;
}
.posts-grid.best-offers li {
	border-left:1px solid #cadfd3;
	margin:0;
	width:33.33333%;
	padding:43px 30px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
@media (max-width: 1200px) {
	.posts-grid.best-offers li { text-align:center; }
}
@media (max-width: 767px) {
	.posts-grid.best-offers li {
		float:left;
		padding:20px 10px;
	}
}
@media (max-width: 480px) {
	.posts-grid.best-offers li {
		float:none;
		width:100%;
		margin:0;
		border-left:none;
		border-top:1px solid #cadfd3;
	}
}
.posts-grid.best-offers li:first-child { border:none; }
.posts-grid.best-offers li .clear { display:none; }
.posts-grid.best-offers li .thumbnail {
	float:left;
	margin:0 28px 0 0;
}
@media (max-width: 1200px) {
	.posts-grid.best-offers li .thumbnail {
		float:none;
		display:inline-block;
		text-align:center;
		margin:0;
	}
}
.posts-grid.best-offers li h5 {
	font:bold 22px/1.3em 'Cabin', sans-serif;
	margin:25px 0 0 0;
}
.posts-grid.best-offers li h5 a { color:#fff; }
.houses-wrap {
	background:#fff;
	position:relative;
	margin-top:-50px;
}
@media (max-width: 767px) {
	.houses-wrap { margin-top:0; }
}
.houses-wrap >div {
	position:relative;
	z-index:10;
}
.houses-wrap:before {
	content:"";
	display:block;
	height:100%;
	left:-100%;
	position:absolute;
	top:0;
	width:101%;
	background:#fff;
	z-index:1;
}
.houses-wrap:after {
	content:"";
	display:block;
	height:100%;
	right:-100%;
	position:absolute;
	top:0;
	width:101%;
	background:#fff;
	z-index:1;
}
.testimonials { padding:60px 0 0; }
.testimonials .testi-item { margin:0; }
.testimonials .testi-item .testi-item_blockquote {
	padding:0;
	text-align:center;
	background:none;
}
.testimonials .testi-item .testi-item_blockquote:before, .testimonials .testi-item .testi-item_blockquote:after { display:none; }
.testimonials .testi-item .testi-item_blockquote .featured-thumbnail {
	display:block;
	text-align:center;
	width:auto;
	height:auto;
	float:none;
	margin:0 0 23px 0;
}
.testimonials .testi-item .testi-item_blockquote .featured-thumbnail img {
	border:7px solid #fff;
	border-radius:50%;
	box-shadow:0 1px 1px rgba(0,0,0,0.2);
	overflow:hidden;
	margin:5px;
}
.testimonials .testi-item .testi-item_blockquote a {
	width:60%;
	display:inline-block;
	color:#cecece;
	overflow:visible;
	line-height:34px;
	position:relative;
}
@media (max-width: 480px) {
	.testimonials .testi-item .testi-item_blockquote a { width:100%; }
}
.testimonials .testi-item .testi-item_blockquote a:hover, .testimonials .testi-item .testi-item_blockquote a:active { color:#333433; }
.testimonials .testi-item .testi-item_blockquote a:before {
	content:'';
	display:inline-block;
	width:19px;
	height:14px;
	background:url(images/quote.png) no-repeat;
	margin-right:5px;
}
.testimonials .testi-item .testi-item_blockquote a:after { content:'"'; }
.testimonials .testi-item .testi-meta {
	text-align:center;
	padding:30px 0 0 0;
}
.testimonials .testi-item .testi-meta span { display:block; }
.testimonials .testi-item .testi-meta span.user {
	font:bold 22px/1.3em 'Cabin', sans-serif;
	color:#5F0009;
}
.testimonials .testi-item .testi-meta span.info {
	font:17px/1.2em 'PT Sans', sans-serif;
	color:#cecece;
}
.testimonials .testi-item .testi-meta a:hover, .testimonials .testi-item .testi-meta a:active { color:#333433; }
.testimonials.testi-about .testi-meta a { display:none; }
.service-box {
	border-radius:0;
	border:none;
	box-shadow:none;
	padding:10px 0 43px;
	background:none;
	text-align:center;
}
.service-box .icon { display: none; }
.service-box .service-box_body .title {
	font:bold 62px/1.3em 'Cabin', sans-serif;
	letter-spacing:-2px;
	margin-bottom:70px;
}
.service-box .service-box_body .sub-title {
	font:bold 22px/1.3em 'Cabin', sans-serif;
	color:#fff;
}
.service-box .service-box_body .service-box_txt {
	width:70%;
	margin:0 auto 60px;
	line-height:34px;
}
.service-box .service-box_body .btn-align { text-align:center; }
.service-box .service-box_body .btn-align .btn { background:#5F0009; }
.service-box .service-box_body .btn-align .btn:hover, .service-box .service-box_body .btn-align .btn:active {
	background:#333433;
	text-decoration:none;
	color:#fff;
	box-shadow:none;
}
.service-box .service-box_body .btn-align .btn:focus {
	color:#fff;
	box-shadow:none;
	border:none;
	background:#5F0009;
}
.footer {
	background:#837E7C;
	border:none;
	padding-bottom:100px;
}
#back-top-wrapper {
	position:relative;
	padding:120px 0 45px;
	right:0;
}
#back-top-wrapper p { text-align:center; }
#back-top-wrapper p a {
	display:inline-block;
	width:auto;
}
#back-top-wrapper p a i {
	font:82px/1.2em FontAwesome;
	color:#fff;
	transition:all 0.3s ease 0s;
}
#back-top-wrapper p a:hover i, #back-top-wrapper p a:active i { color:#9F000F; }
.footer-text {
	font:bold 20px/1.2em 'Cabin', sans-serif;
	color:#fff;
	text-align:center;
	float:none;
	padding-top:50px;
}
.footer-text a {
	color:#fff;
	text-transform:lowercase;
}
.footer-text a.site-name-big {
	color:#fff;
	text-transform:uppercase;
	font-size:60px;
	line-height:1em;
	display:inline-block;
	letter-spacing:-2px;
	margin-bottom:35px;
}
@media (max-width: 480px) {
	.footer-text span { display:block; }
}
nav.nav.footer-nav {
	float:none;
	margin:40px 0 0;
}
nav.nav.footer-nav ul {
	float:none;
	text-align:center;
}
@media (max-width: 767px) {
	nav.nav.footer-nav ul { text-align:center; }
}
nav.nav.footer-nav ul li {
	float:none;
	display:inline-block;
	padding:0;
	text-transform:none;
	margin:0;
	padding:0 0 0 7px;
}
nav.nav.footer-nav ul li:first-child { padding:0; }
nav.nav.footer-nav ul li:first-child:before { display:none; }
nav.nav.footer-nav ul li a { border-bottom:2px solid transparent; }
nav.nav.footer-nav ul li.current-menu-item a, nav.nav.footer-nav ul li a:hover {
	color:#fff;
	border-color:#fff;
	text-decoration:none;
}
.google-map, .flexslider { background:url(images/loading.gif) 50% 50% no-repeat; }
div.ajax-loader, .ajax-loader {
	position:relative;
	top:13px;
	background-image:url(images/loading.gif);
	width:24px;
	padding:24px 0 0 0;
	height:0px !important;
}
.error404-holder { padding:80px 0; }
.error404-holder .error404-holder_num { color:#333433; }
.error404-holder .hgroup_404 h1,
.error404-holder .hgroup_404 h2 { color: #333433; }
.error404 h4 { color: #333433; }
@media (min-width: 768px) and (max-width: 979px) {
	.error404-holder .error404-holder_num { font-size:150px; }
}
@media (max-width: 767px) {
	.archive_h { margin-top:30px; }
}
blockquote p { line-height:22px; }
.faq-list .marker {
	font-size:15px !important;
	color:#333433;
	margin-top:2px;
}
.ie9 .wpcf7-form p input[type="text"], .ie9 .wpcf7-form p input[type="email"], .ie8 .wpcf7-form p input[type="text"], .ie8 .wpcf7-form p input[type="email"] { padding-top:10px; }
.ie8 .search-form .search-form_is {
	display:block;
	margin:0;
}
.ie8 .nav__primary .sf-menu >li { margin-left:20px; }
.ie8 .logo-wrap:before {
	content:"";
	display:block;
	height:100%;
	left:-200%;
	position:absolute;
	top:0;
	width:201%;
	background:#9F000F;
	z-index:1;
}
.ie8 .slider-wrap {
	left:50%;
	width:1200px;
	margin-left:-600px;
}
.ie8 .camera .camera_thumbs { display:none !important; }
.ie8 .camera_caption {
	width:940px;
	margin-left:-460px;
}
.ie8 [id*="my_poststypewidget"] .post-list li .thumbnail {
	float:none;
	margin:0 0 20px 0;
	display:block;
}
.ie8 [id*="my_poststypewidget"] .post-list li .thumbnail a { display:inline-block; }
.ie8 [id*="my_poststypewidget"] .post-list li .btn { margin-left:0; }
.ie8 .posts-grid.our-team li .thumbnail { width:80%; }
.ie8 .posts-grid.houses li .thumbnail { width:170px; }
.ie8 .posts-grid.best-offers.ie8-fix {
	border-bottom:1px solid #cadfd3;
	padding-top:20px;
}
.ie8 .posts-grid.best-offers li { text-align:center; }
.ie8 .posts-grid.best-offers li .thumbnail {
	float:none;
	display:inline-block;
	text-align:center;
	margin:0;
	width:90px;
}
.ie8 .related-posts .thumbnail {
	width:100%;
	height:auto;
}
.ie8 .comment-author {
	width:92px !important;
	height:auto !important;
	margin-right:30px;
}
.ie8 .comment-author img {
	width:92px !important;
	height:92px !important;
}
.ie8 .post-author_gravatar { width:92px !important; }
.ie8 .post-author_gravatar img { width:92px !important; }
.ie8 #respond #commentform p input {
	padding-top:10px;
	height:36px;
}
.ie8 #respond #commentform p input.btn {
	padding:19px 35px;
	height:54px;
	line-height:1.3em;
}
.transition { transition:all 0.3s ease 0s; }
.border-white-round {
	border:7px solid #fff;
	border-radius:50%;
	box-shadow:0 1px 1px rgba(0,0,0,0.2);
	overflow:hidden;
}
.clearfix { *zoom:1; }
.clearfix:before, .clearfix:after {
	display:table;
	content:"";
	line-height:0;
}
.clearfix:after { clear:both; }
.hide-text {
	font:0/0 a;
	color:transparent;
	text-shadow:none;
	background-color:transparent;
	border:0;
}
.input-block-level {
	display:block;
	width:100%;
	min-height:36px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.page-id-14 h1,
.page-id-14 h2,
.page-id-14 h3,
.page-id-14 h4,
.page-id-14 h5 { color: #333433; }